.post {
  padding: 15px;
  margin: 15px;
  -webkit-box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 0.68);
  border-radius: 5px;
  .userInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    .userProfilePicture {
      height: 40px;
      width: 40px;
      object-fit: cover;
      border-radius: 50%;
      cursor: pointer;
    }
    .userName {
      font-weight: 500;
      cursor: pointer;
    }
    .uploadTime {
      color: grey;
      font-size: 14px;
    }
  }
  .userPost {
    .postImages {
      max-height: 400px;
      width: 100%;
      object-fit: cover;
    }
    .postIcons {
      margin-top: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .iconsLeft {
        display: flex;
        align-items: center;
        gap: 10px;
        .likeIcon {
          cursor: pointer;
        }
        .likeCounter {
          font-size: 20px;
          font-weight: 500;
        }
      }
    }
    .commentSection {
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      .commentCounter {
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
}
